<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dim Buro</title>
    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body>
    <main>
        <section>
            <h1>Строительная компания "DIM BURO"</h1>
            <h2>Воплощаем ваши мечты в ремонте</h2>
            <nav>
                <ul>
                    <li>Ремонт</li>
                    <li>Мебель</li>
                    <li>Строительство</li>
                    <li>Декорирование</li>
                    <li>Дизайн и проектирование</li>
                </ul>
            </nav>
        </section>
        <section>
            <h2>О РЕМОНТЕ</h2>
            <section>
                <h3>ЭТАПЫ РЕМОНТА ПОД КЛЮЧ</h3>
                <ol>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                </ol>
            </section>
            <section>
                <h3>ЭКСКЛЮЗИВНЫЕ РЕШЕНИЯ ДЛЯ ЖК PREMIUM КЛАССА</h3>
                <ol>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                </ol>
            </section>
        </section>
        <section>
            <h2>КЕЙСЫ</h2>
            <section>
                <h3>НАШИ ПРОЕКТЫ ДЛЯ ЧАСТНЫХ КЛИЕНТОВ</h3>
                <ul>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </li>
                </ul>
            </section>
        </section>
    </main>
    <footer>
        <div>
            <h2></h2>
            <h3></h3>
            <p>

            </p>
            <div>

            </div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <img src="" alt="">
        <img src="" alt="">
    </footer>
</body>
</html>